@import "tailwindcss";

:root {
  --background: #394447;
  --foreground: #171717;
}
@font-face {
  font-family: "literata";
  src: url(../public/fonts/Literata-VariableFont_opsz\,wght.ttf);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #394447;
    --foreground: #d4d4d4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.cart{
  background-color: gray;
  border-radius: 5px;
  padding: 20px;
}
.nav-buttons{
  display: grid;
  grid-template-columns: 1;
  gap: 10px;
  width: 150px;
}
.nav-buttons button{
  width: 67px;
  height: 45px;
  background-color: rgb(150, 141, 141);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3;
  display: block;
}
.nav-buttons button:hover{
  transform: scale(1.04);
}