DB_CONNECTION_STRING=Host=localhost;Port=5432;Username=postgres;Password=password;Database=RanobeLib;
JWT_KEY=kw2iohj29uhd3u8dh2g*&frewjifrhui4r89377*Y&31-38737-189*222u43udioejiu
REDIS_CONNECTION=YOUR_REDIS_CONNECTION_STRING